/* Contains styling for the landing screen */


/* Home section */
#home{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.punch-line{
    font-size: 50px;
    text-align: center;
    color: rgb(248, 175, 47);
}

#home img{
    width: 35vw;
}
#home .home-right{
    padding:20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
#home .home-left{
    text-align: center;
}
#home .title{
    text-align: center;
    font-size: 17px;

}
#home .download{
    padding: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
#home .download img{
    width: 150px;
}

#home .download-mobile{
    display: none;
    
}



/* take tour section */

#take-tour{

    z-index: -1;
    height: 50vh;
}
#take-tour .take-tour-title{
    position: relative;
}
#take-tour .content{
    display: flex;
    justify-content: space-between;

}
#take-tour h1{
  font-size: 50px;
  text-align: center;
  color: rgb(31, 24, 14);
  position: absolute;
  left: 0; 
  right: 0; 
  top:20px;
  margin-left: auto; 
  margin-right: auto; 
  width: 50vw; 
  color: white;
}
#take-tour p{
    color: white;
}
.tour-left{
    background-color: rgb(248, 175, 47);
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tour-right{
background-color: rgb(255, 255, 255);
width: 50%;
height: 50vh;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
}
.tour-title-right{
    color: rgb(248, 175, 47);
}
.tour-right a{
    background-color: rgb(248, 175, 47);
    padding: 20px;
    border-radius: 50px;
    width: 200px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.tour-left a{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 50px;
    width: 200px;
    color: rgb(248, 175, 47);
    font-weight: 600;
    text-align: center;
    cursor:pointer;
    
}

/* how it woeks section */




#works h1{
    font-size: 50px;
    color: white;
}
.step{
    padding: 20px;
    padding-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(248, 204, 129);
 
}
.step:nth-child(1){
    border-top: 0.5px solid rgb(248, 204, 129);
}
.step .step-left{
    width: 50%;
}
.step .step-right .sizedbox{
    width: 250px;
}
#buyer-steps{
    background-color: rgb(248, 175, 47);
    }
#buyer-steps p,ol,li{
 color: rgb(27, 27, 27);
}
#seller-steps{
background-color: rgb(255, 255, 255);
}
#seller-steps .step:nth-child(6){
    height: auto;
}
#seller-steps .step p,li,th{
    color:rgb(26, 26, 26)
}
#seller-steps h1{
    color: black;
}
#seller-steps .step{
    border-bottom: 1px solid rgb(216, 216, 216);
}
#seller-steps .step:nth-child(5){
    border: none;
}
#seller-steps .step:nth-child(6){
    border: none;
}
#packages p{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(255, 233, 194);
  }
  tr:nth-child(even) td {
    color: rgb(0, 0, 0);
  }
  tr:nth-child(odd) {
    background-color: rgb(12, 12, 12);
  }
  tr:nth-child(odd) td,th {
    color: rgb(255, 233, 194);
  }

  #packages{
      display: block;
      height: 100vh;
  }
  #packages h1{
    text-align: center;
}


/* responsiveness */

@media (max-width: 900px){
    .step .step-right .sizedbox{
        width: 0px;
    }
    #home{

        padding-top: 100px;
    }
 
    #home{
        padding-left:10px;
        padding-right: 10px;
        height: auto;
        justify-content: center;
        display: block;
    }
    #home .punch-line{
        font-size: 40px;
    }
    .home-left{
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 100vw;
    }
    .home-left img{
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
    #home .download{
        display: none;
    }
    #home .download-mobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;

        width: 48%;
    }

}
@media (max-width: 770px) {
    #home{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin:auto;
        padding: auto;
        padding-top: 60px;
    }
    #home .punch-line{
        font-size: 30px;
    }
    #home img{
        width: 70vw;
    }
    .download-app{
        display: block;
       
    }
    #home .download-mobile{
        width: 80%;
        margin-left:auto;
        margin-right: auto;
    }
    #home .download-mobile img{
        width:49%;
    }
    #home .categories{

        width: 70%;

    }
    .step{
        display: block;
    }
    .step .step-left{
        width: 100%;
    }
    .step .step-right{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    
}
@media (max-width: 430px) {
    #works h1{
        font-size: 25px;
    }
    /* #home .download-mobile{
        width: 100%;

    } */
    #home .download-mobile {
   
        width: 100%;
           
        }

    #home .categories{
       display: none;

    }

    #take-tour h1{
        font-size: 30px;
    }
    #take-tour a{
        width: 100px;
        border-radius: 30px;
        padding: 10px;
    }
    .step{
        display: block;
    }
    .step .step-left{
        width: 100%;
    }
    .step .step-right{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .step p{
        padding-bottom: 50px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

}
@media (max-width: 300px) {
    .step img{
        width:200px
    }
    table {
        width: 50%;
      }
}
